*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: popines;
}

body {
    font-family: Arial, sans-serif;
    background: url("backgroundimage.jpg") no-repeat fixed;
    background-size:cover;
    
}

.login-container{
    
    margin-top: 180px;
    display: flex;
    justify-content: center;
}
form{
  width: 600px;
  text-align: center;
  border: 2px solid rgb(255,255,255,.4);
  border-radius: 10px;
  backdrop-filter:blur(8px);
  box-shadow: 0 0 10px rgb(0,0,0,0.2);
  

}
.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;   
}
.input-group{
    margin-bottom: 15px;
    width:200px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
    text-align: left; 
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    margin-bottom: 1rem; 
}
button:hover {
    background-color: #0056b3;
}
